#aSC-content {
  width: 100%;
}

.aSC-img {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* ==================== Media Queries ==================== */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background: none;
  }

  #aSC-content {
    margin: auto 0 0 0;
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */