#aSC-content {
  width: 100%;
  margin: 0;
}

.aSC-img {
  width: 100%;
}

/* ==================== Media Queries ==================== */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: url("../media/background.jpeg") no-repeat fixed center;
    background-size: cover;
  }

  #aSC-content {
    width: 1000px;
    margin: 50px auto;
  }
}