a {
  text-decoration: none;
  text-align: center;
  color: #000;
}

h1 {
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 480px;
  margin: auto;
}

/* ===== Address and phone ===== */
.contact {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
}

.address {
  grid-area: 1/1/2/6;
  margin: 10px auto;
}

.tel {
  grid-area: 2/1/3/6;
  margin-bottom: 10px;
}

.map {
  grid-area: 1/6/3/11;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.map-img {
  max-height: 100px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* ===== Counter and  booking ===== */
.mail {
  padding-top: 15px;
}

.counter-table-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  justify-items: center;
}

.boardGameHeader {
  grid-area: 1/1/2/12;
  text-align: center;
  margin-top: 5px;
}

.pingPongHeader {
  grid-area: 3/1/4/12;
  text-align: center;
  margin-top: 15px; 
}

.counter {
  grid-area: 2/1/3/12;
}

.ping-pongCounter {
  grid-area: 4/1/5/12;
}

.main-hr {
  border: 1px solid #e86824;
  width: 100%;
  margin: 20px auto;
  grid-area: 5/2/6/11;
}

.submit {
  grid-area: 6/1/7/5;
}

.amount {
  grid-area: 6/5/7/12;
}

.main-hr2 {
  border: 1px solid #e86824;
  width: 100%;
  margin: 20px auto;
  grid-area: 7/2/8/11;
}

.emailBooking {
  grid-area: 8/1/9/12;
  text-align: center;
  padding: 0 0 20px 0;
}

.note {
  color: #666;
  font-size: 0.8em;
}

#ping-pong {
  width: 100%;
}

label, .label {
  font-size: 0.8em;
}

/* ===== Overall size and style ===== */
.contact, .mail, .oTT-con {
  max-width: 480px;
  background: rgba(232, 104, 36, 0.1);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
  margin: auto auto 20px auto;
}

/* ===== Button ===== */
.booking {
  padding: 3px 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #000;
  border: 1px solid #e86824;
}

#submit {
  display: inline-block;
  padding: 3px 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  border: 1px solid #e86824;
}

.booking:hover, #submit:hover {
  color: #e86824;
  text-shadow: 1px 1px 2px #e86824;
}

/* ===== Opening Times ===== */
table {
  border-spacing: 0;
  width: 100%;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

th {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

body > main > div > div.oTT-con > table > tbody > tr > td:nth-child(1) {
  padding-left: 20px;
}

.m-closed {
  background: #ccc;
}

.closed-center {
  text-align: center;
}

.second-column {
  text-align: right;
}

.third-column {
  text-align: center;
}

.bottom-td {
  border-bottom: none;
}

.tr-hover:hover {
  background: #e86824;
}

/* ==================== Media Queries ==================== */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   main {
    margin: 50px 0 0 0;
    padding: 0 0 20px 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .contact, .mail, .oTT-con {
    border: none;
    background: #fff;
    color: #000;
    font-size: 1.2em;
  }

  .contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mail {
    padding-top: 30px;
  }

  .submit {
    grid-area: 6/2/7/5;
  }
  
  .amount {
    grid-area: 6/5/7/11;
  }

  h3 {
    margin-bottom: 20px;
  }

  .orange-link:hover {
    color: #e86824 !important;
  }

  .bottom-td {
    padding-bottom: 6px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    max-width: 70%;
  }

  .contact, .mail {
    max-width: 70%;
    font-size: 1.3em;
  }

  .oTT-con {
    font-size: 1.3em;
  }

  /* ===== Counter and  booking ===== */
  .counter-table-grid {
    justify-items: normal
  }

  .boardGameHeader {
    grid-area: 1/1/2/6;
    margin-bottom: 15px; 
  }

  .pingPongHeader {
    grid-area: 1/6/2/12;
    margin-bottom: 15px; 
  }

  .counter {
    grid-area: 2/2/3/6;
  }

  .ping-pongCounter {
    grid-area: 2/7/3/11;
  }

  .main-hr {
    margin: 20px auto;
    grid-area: 3/2/4/11;
  }

  .submit {
    grid-area: 4/2/5/4;
  }

  .amount {
    grid-area: 4/4/5/11;
  }

  #person, #session {
    width: 200px;
  }

  .main-hr2 {
    grid-area: 5/2/6/11;
  }

  .emailBooking {
    grid-area: 6/2/7/11;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1, .contact, .mail {
    max-width: 828px;
  }
}