@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

h1 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.tableHolder {
  max-width: 480px;
}

input {
  width: 100%;
  outline: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  color: #e86824;
  text-shadow: 1px 1px 2px #e86824;
  font-size: 1.3em;
}

table {
  width: 100%;
  margin: auto auto 20px auto;
  background: repeating-linear-gradient(#222, #000 25px, #222 28px);
  border-spacing: 0;
  color: #fff;
  border: 4px solid #e86824;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.content {
  max-width: 480px;
  margin: auto;
}

td {
  padding: 0 10px 10px 10px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
}

td:hover {
  color: #e86824;
}

th {
  padding: 10px 0;
  font-family: 'Indie Flower', cursive;
  font-size: 1.4em;
}

/* ==================== Media Queries ==================== */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    margin: 50px 0 0 0;
    padding: 0 0 20px 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .tableHolder {
    margin: auto;
  }

  table {
    border: 4px solid #e86824;
    font-size: 1.2em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content, .content > h1, .tableHolder {
    max-width: 70vw;
  }

  table {
    font-size: 1.4em;
  }

  /* th{
    padding: 50px 0 40px 0;
  } */

  td {
    padding: 0 20px 10px 20px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content, .content > h1, .tableHolder {
    max-width: 828px;
  }
}