h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.2em;
}

.imgString > p {
  padding: 5px;
  background: rgba(232, 104, 36, 0.1);
}

.fa-hand-point-right {
  color: #e86824;
}

.onlyString {
  margin-bottom: 20px;
}

.onlyString > p {
  margin: auto 5px;
}

.imgString {
  margin-bottom: 20px;
  border: 2px solid #e86824;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
}

.imgString > img {
  display: block;
  max-width: 100%;
}