
/* ===== Content ===== */
h1 {
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 480px;
  margin: auto;
  font-size: 32px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 20px;
}

.onlyString {
  max-width: 480px;
  background: #fff;
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.7);
  margin: auto auto 20px auto;
}

.onlyString > p {
  padding: 5px;
}

.main-hr {
  border: 1px solid #e86824;
  max-width: 480px;
  margin: auto auto 20px auto;
}

.fa-star {
  color: #e86824;
}

h3 {
  text-align: center;
}

/* ==================== Media Queries ==================== */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    margin: 50px 0 0 0;
    padding: 0 0 20px 0;
    background: rgba(0, 0, 0, 0.5);
    color: #000;
  }

  .onlyString > p {
    padding: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    max-width: 70%;
  }

  .onlyString {
    max-width: 70%;
    font-size: 1.3em;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1, .onlyString {
    max-width: 828px;
  }
}